.desaturate {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


.desaturate:hover {
    -webkit-filter: none;
    filter: none;
}

@media (min-width: 767px){
    .content-section {
        padding-top: 100px;
    }
}

@media (max-width: 767px){
    table#previous-table td {
        display: block;
        border: none;
    }
}

h1.brand-heading {
    margin-bottom: 0px;
}

p.long-title {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.btn-default {
    border: 1px solid #99ddff;
    color: #99ddff;
    background-color: transparent;
}

a, .text-a {
    color: #99ddff;
}


div#instructionsContent ul {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}

div#instructionsContent  ul li {
    padding-left: 1em;
    text-indent: -.7em;
}

div#instructionsContent ul li:before {
    content: "• ";
    color: #99ddff;
}

div#instructionsContent  ul li p {
    display: inline;
}

.text-info-endio {
    color: #99ddff;
}

h3 {
    margin-bottom: 10px;
}

